body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
}
header {
  background-color: #f0f0f0;
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 24px;
  margin: 0;
}
.tab {
  padding: 10px 20px;
  color: #333;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s, box-shadow 0.3s;
  border: 1px solid grey;
  border-radius: 20px;
}

.tab.active {
  background-color: #007bff;
  color: #fff;
  border-color: #007bff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f0f0f0;
  padding: 10px;
  text-align: center;
}
.icons {
  height: 40px;
  width: 40px;
  display: inline-block;
  padding: 10px;
}
@media (max-width: 767px) {
  .container {
    padding-bottom: 100px; /* Adjust the value as needed */
  }
}